html, body {
	position: fixed;
	height: 600px;
	overflow-y: hidden;
	background-color: black;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	padding-top: 50px;
}
p {
	/*color: white;*/
}